@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("animations.css");

html,
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	place-items: center;
	min-width: 100%;
	min-height: 100vh;
	font-family: "Montserrat", sans-serif;
}

#root {
	min-width: 100%;
	min-height: 100vh;
	margin: 0 auto;
}

.container {
	height: 100vh;
	width: 100%;
	background: linear-gradient(90deg, #003366, #001a33);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.img_logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	object-fit: contain;
	padding: 0 10vh;
	img {
		height: auto;
		width: 150px;
	}
	h1 {
		margin: 0;
		color: #eef7ff;
		font-weight: bold;
		font-size: 50px;
	}
	h2 {
		margin: 0;
		color: #eef7ff;
		font-weight: lighter;
		font-size: 30px;
	}
}

.form {
	background-color: #eef7ff;
	padding: 6.5vh;
	display: flex;
	flex-direction: column;
	border-radius: 24px;
	align-items: center;
	h1 {
		color: #003366;
		font-size: 30px;
		font-weight: bold;
		margin: 0;
		margin-bottom: 3vh;
	}
	div {
		width: 100%;
		display: flex;
	}
	label {
		color: #003366;
		font-weight: bold;
		margin-bottom: 0.5vh;
	}
	input {
		display: flex;
		border: 3px solid #003366;
		border-radius: 12px;
		padding: 8px 5px;
		margin-bottom: 1vh;
		background-color: #eef7ff;
		font-weight: regular;
		font-size: 16px;
		color: #003366;
		border-radius: 12px;
	}
	input::placeholder {
		color: rgba(0, 51, 102, 0.3);
		font-weight: light;
	}
	input:focus {
		background-color: rgba(0, 110, 223, 0.14);
		font-weight: regular;
	}
	button {
		padding: auto;
		display: flex;
		justify-content: center;
		padding: 1.2vh 0;
		border-radius: 12px;
		border: none;
		width: 100%;
		background-color: #003366;
		color: #eef7ff;
		font-weight: bold;
		font-size: 16px;
		border: 3px solid #003366;
		margin-top: 10px;
	}
	button:hover{
		border: 3px solid #003366;
		background-color: #eef7ff;
		color: #003366;
		transition: .3s ease-out;
	}
	div {
		display: flex;
		flex-direction: column;
		width: 100%;
		p {
			margin: 0;
			padding: 2vh 0 0 0;
		}
	}
}

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	display: block;
	background-color: #003366;
	height: 9vh;
	overflow: hidden;
	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 5vw;
		margin: 0;
		height: 100%;
		li {
			display: flex;
			align-items: center;
			padding: 0 10px;
			position: relative;
			height: 100%;
			img {
				width: auto;
				height: 7vh;
				object-fit: contain;
			}
			a {
				color: white;
				font-size: 0.9em;
				text-decoration: none;
				position: relative;
				border-bottom: transparent 3px solid;
				transition: border-color 0.3s ease;
				padding: 0 10px 3px 10px;
				box-sizing: border-box;
			}
			:not(.active)::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: #006edf;
				transform: scaleX(0);
				transform-origin: bottom;
				transition: transform 0.3s ease;
			}
			:not(.active):hover::before {
				animation: heartbeat 5s ease-in-out infinite;
				transform: scaleX(1);
			}
			.active {
				font-weight: bold;
				background-color: #eef7ff;
				color: #002651;
				margin: 0;
				height: 100%;
				line-height: 9vh;
			}
		}
	}
}

.profile_page{
	background-color: #eef7ff;
	display: block;
	height: 90vh;
	padding: 9vh 0 0 5vh;
	.sections{
		display: flex;
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
		.profile_image{
		height: 50vh;
		width: auto;
		}
	}
	.form {
		width: 40%;
	}
}

.error_404{
	height: 100vh;
	width: 100%;
	background: linear-gradient(90deg, #003366, #001a33);
	display: flex;
	justify-content: center;
	align-items: center;
	.card{
		background-color: #eef7ff;
		padding: 6.5vh;
		border-radius: 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
		h1{
			margin: 0;
			font-size: 120px;
			font-weight: bold;
			color: #003366;
		}
		h3{
			margin: 0;
			font-size: 24px;
			font-weight: lighter;
			color: #003366;
		}
		h4{
			margin: 0;
			padding-top: 2vh;
			font-size: 14px;
			font-weight: lighter;
			color: #003366;
		}
	}
}

#users {
    width: 80%;
    border-collapse: collapse;
    margin: 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border: 2px solid #2c3e50;
}

#users thead tr {
    background-color: #002651;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

#users th, #users td {
    padding: 12px 15px;
	text-align: center;
  	vertical-align: middle; 
}

#users tbody tr {
    border-bottom: 1px solid #dddddd;
}

#users tbody tr:nth-of-type(even) {
    background-color: rgba(0, 51, 102, 0.15);
}

#users tbody tr:last-of-type {
    border-bottom: 2px solid #2c3e50;
}

#users tbody tr:hover {
    background-color: #f1f1f1;
}

#users .icon {
    cursor: pointer;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
}

#users img {
	width: 24px;
	height: 24px;
}

#users .empty-row {
    height: 20px;
}

#users .empty-row td {
    border: none;
	height: 24px;
}

#users .no-data {
    text-align: center;
    color: #666;
    padding: 14px;
    white-space: nowrap;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.search-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
	margin-left: 22%;
  }
  
  .search-input-wrapper {
	position: relative;
	width: 100%;
	max-width: 200px;
  }
  
  .search-input {
	width: 100%;
	padding: 8px 16px 8px 40px;
	border-radius: 20px;
	border: 1px solid #ccc;
	font-size: 16px;
	background-color: #002651;
	color: white;
	outline: none;
  }
  
  .search-input::placeholder {
	color: white;
	font-family: "Montserrat", sans-serif;
  }
  
  .search-icon {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	pointer-events: none;
  }

  .form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 80px); /* Ajusta según el tamaño de tu navbar */
  }
  
  .form-wrapper {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 500px;
  }